.input-number-shared-component {
    width: 90px;
    height: 42px;
    margin: auto 4px auto 4px;
    float: right;
    text-align: center;
}

.label-float {
    margin: 9px auto auto auto;
    float: right;
}

.stock-product-container {
    margin: auto auto 26px auto;
}