<div class="dealers-container">
  <div class="dealers-container__members-quantity">
    <img src="assets/ic_members.svg" alt="members" />
    <p color-rojo>10/15</p>
  </div>
  <div class="dealers-container__title">
    <h2>Lista de distribuidores</h2>
  </div>

  <div class="dealers-container__add">
    <button>
      <img src="assets/ic_plus.svg" alt="plus" />
    </button>
    <div class="input-shared-container">
      <input
        class="input-shared-component"
        type="text"
        placeholder="Ingrese un dni"
        maxlength="8"
      />
    </div>
  </div>

  <div class="dealers-container__list">
    <app-members [person]="user" *ngFor="let user of mock"></app-members>

  </div>
</div>
