<div class="dealers-location-container">
    <div *ngIf="loading === false">

        <div class="dealers-location-container__body">
            <div class="dealers-location-container__body__filter">
                <div class="icon_container" (click)="changeOption(i)" *ngFor="let filter of filterOptionsMap; let i =  index">
                    <img *ngIf="filter.flag" [src]="filter.iconActivate" alt="">
                    <img *ngIf="!filter.flag" [src]="filter.iconDesactivate" alt="">
                    <p>{{filter.name}}</p>
                </div>

            </div>
            <div class="dealers-location-container__body__map">
                <agm-map
                [clickableIcons]="false"

                [latitude]="lat" [longitude]="lng" [zoom]="12"
                    (mapClick)="addMarker($event.coords.lat, $event.coords.lng)">
                    <agm-marker [markerDraggable]="false" *ngFor="let marker of markers" [latitude]="marker.lat" [longitude]="marker.lng"
                        [opacity]="marker.alpha" (markerClick)="selectMarker($event)"
                        [iconUrl]="getPin(marker.tipo)"
                        >
                        <agm-info-window [disableAutoPan]="true">
                            <div class="tooltip-container">

                                <p [ngStyle]="{background: getColor(marker.tipo)}" class="tag">{{marker.tipo}}</p>
                                <h2>{{marker.name}}</h2>
                                <p>{{marker.direccion}}</p>
                                <div class="horario">
                                    <p class="label">Horario de atención</p>
                                    <p class="time">{{marker.horario}}</p>
                                </div>
                            </div>
                          </agm-info-window>
                    </agm-marker>

                </agm-map>

            </div>
        </div>
    </div>
    <div *ngIf="loading" class="loading">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>

    </div>

</div>
