.request-sent-container {
  width: 100%;
  padding: 0 32px;
}
.request-sent__title {
  margin-top: 24px;
  margin-bottom: 48px;
}
.request-sent__title h2 {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  text-align: center;
}

.request-sent__list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
