.container-modal-error{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background: rgba(0, 0, 0, .37);


}

.container-modal-error .card{
  width: 260px;
  height: 280px;
  border-radius: 8px;
  background: #ffffff;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}
.container-modal-error .card h2{
  font-size: 20px;
  font-weight: 600;
  color: #FF5A82;
  margin-bottom: 12px;
}

.container-modal-error .card p{
  width: 80%;
  text-align: center;
  font-size: 14px;
  margin-bottom: 48px;
}
