<div class="member-container">
    <div class="member-container__information">
      <div class="member-container__roles">
          <!-- <img *ngIf="person.roles.includes('Admin')" src="assets/ic_crown.svg" alt="">
          <img *ngIf="person.roles.includes('Comprador')" src="assets/ic_shop-cart.svg" alt=""> -->
          <img  src="assets/ic_crown.svg" alt="">
          <img  src="assets/ic_shop-cart.svg" alt="">

      </div>
      <div class="member-container__personal">
        <h2>{{ person.nombre }} {{person.apellidoPaterno}}</h2>
        <p>{{ person.dni }}</p>
      </div>
      <div class="member-container__delete-btn">
          <button
          (click)="abrirModalConfirmacion()"
          >Remover</button>
      </div>
    </div>

    <div class="member-container__select">
      <app-select  [options]="data"></app-select>
    </div>
    
    <app-confirmation-modal
      *ngIf="isShowConfirmationModal"
      (yesEvent)="deleteUsuarioFromFamilia()"
      (noEvent)="cerrarModalConfirmacion()"
      [title]="'Confirmación'"
      [description]="descriptionConfirModal">
    </app-confirmation-modal>

  <app-error-modal
    *ngIf="errorFlagModal"
    title="Lo sentimos"
    description="{{descriptionErrorModal}}"
    (closeEvent)="cerrarModal()"
  ></app-error-modal>

</div>
