<div>
    <div class="login-container">
        <h2>asdasd</h2>
        <!-- <div class="login-container__header">
    <img src="assets/ic_logo.svg" alt="Mi canasta" />
    <h1 color-rojo>Mi Canasta</h1>
    <p>Administra tus recursos</p>
  </div>
  <div class="login-container__form-container">
    <div class="field-container margin">
      <label class="label-shared-component">Dni</label>
      <input class="input-shared-component" type="text" [(ngModel)]="usuario.dni" maxlength="8" />
    </div>

    <div class="field-container margin">
      <label class="label-shared-component">Contraseña</label>
      <input class="input-shared-component" type="password" [(ngModel)]="usuario.contrasena" maxlength="50" />
    </div>

    <app-button-shared class="login-container__button" [text]="'Ingresar'" [type]="'large'" [bgColor]="'red'"
      [loading]="loadingLoginButton" [disable]="disableButton" (event)="autenticar()"></app-button-shared>

    <app-error-modal *ngIf="isShowErrorModal" title="{{ error.title }}" description="{{ error.description }}"
      (closeEvent)="closeErrorModal()">
    </app-error-modal> -->
        <app-horizontal-bar [cards]="dataHorizontaBar">

        </app-horizontal-bar>
    </div>
</div>
