<div class="solicitud-container">
    <div class="field-container">
        <img src="../../../assets/send.png" alt="">
        <h1 class="h1 solicitud-enviada-h1">
            Solicitud Enviada
        </h1>
        <label class="solicitud-label solicitud-enviada-label">
            Su solicitud para unirse al grupo familiar se ha realizado con éxito
        </label>
        <br><br><br><br>
        <div class="solicitud-container__list-button">
            <app-button-shared
                class="login-container__button"
                [text]="'Volver a Inicio'"
                [type]="'large'"
                [bgColor]="'red'"
                (event)="volverAInicio()"
            ></app-button-shared>
        </div>
    </div>
</div>