.family-container{
  margin: 0 32px;
}
.family-container__title{
margin: 24px 0;
}
.family-container__title h2{
  font-size: 20px;
  font-weight: 600;
  color: #000;
}
.family-container__enable-request p{
margin: 0 0 8px 0;
font-size: 16px;
}
