<div class="family-container">
  <div class="family-container__title">
    <h2>Participantes</h2>
  </div>
  <div class="family-container__enable-request">
    <p>Desactivar solicitudes</p>
    <nz-switch [(ngModel)]="switchValue"></nz-switch>

  </div>

  <div class="family-container__list-members">
      <app-members
      [person]="user"
      [nombreFamilia] = "nombreFamilia"
      [idFamilia]="idFamily"
      [dni]="user.dni"
      [userIsAdmin]="userIsAdmin"
      *ngFor="let user of integrantes"></app-members>

    </div>
</div>
