.home-container{


  .field-container{
    margin: 128px 0 160px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & input{
      text-align: center;
    }
  }
  .grupo-familiar-label{
    text-align: center;
  }
  &__list-button{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

}
