<div class="home-container">
  <div class="field-container margin">
    <label class="label-shared-component grupo-familiar-label">Grupo Familiar</label>
    <input class="input-shared-component" type="text" [(ngModel)]="grupoFamiliar" />
  </div>

  <div class="home-container__list-button">

    <app-button-shared [text]="'Crear'" [type]="'small'" [bgColor]="'red'" (event)="crearGrupo()"></app-button-shared>

    <app-button-shared [text]="'Unirse'" [type]="'small'" [bgColor]="'yellow'" (event)="unirseGrupo()">
    </app-button-shared>
  </div>
</div>
