.request-received-card{
  width: 264px;
  border-radius: 4px;
  background: #fafafa;
  overflow: hidden;
  margin: 0 0 32px 0;
}
.request-received-card__title{
  width: 100%;
  background: #F76A8C;
  padding: 12px 0px;
}

.request-received-card__title h2{
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  text-align: center;
}
.request-received-card__body h3{
  font-size: 20px;
  font-weight: 600;
  color: #000;
  text-align: center;
  margin: 24px 0 8px 0;

}

.request-received-card__body p{
  font-size: 16px;
  margin: 0;
  color: #000;
  text-align: center;
}

.request-received-card__buttons{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 24px 0;
}
.request-received-card__buttons button{
  font-size: 12px !important;
    padding: 8px 16px;
  border-radius: 6px;
  border: none;
  font-weight: 600;
}
.request-received-card__buttons .deny-button{

  background: rgba(247,106,140,.21);
  color: #F76A8C;
}
.request-received-card__buttons .accept-button{
  background: #F76A8C;
  color: #ffffff;
}
