<div style="display: flex; flex-direction: column;">



</div>
<div class="sale-container">
  <div class="sale-container__header">
    <h2>{{ nombre }}</h2>
    <p color-rojo>{{ dni }}</p>
  </div>
  <div class="sale-container__slider" *ngFor="let item of products">
    <div class="sale-container__slider-header">
      <p>{{ item.name }}</p>
      <nz-input-number [nzMin]="item.minValue" [nzMax]="item.maxValue" [nzStep]="1" [(ngModel)]="item.defaultValue">
      </nz-input-number>


    </div>
    <div class="sale-container__slider-indicators">
      <nz-slider [nzMarks]="setLimitsLegend(item)" [nzMin]="item.minValue" [nzMax]="item.maxValue" [nzStep]="1" [(ngModel)]="item.defaultValue"></nz-slider>
    </div>
    
  </div>

  <button class="sale-container__button">
    Realizar Pedido
  </button>

</div>
